<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858333114993-4sacve5m5deoh236gk9pt7cp5a8teo3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858333114993-4sacve5m5deoh236gk9pt7cp5a8teo3b</string>
	<key>API_KEY</key>
	<string>AIzaSyDg45eiH3F-p1xSxTSG7MjyNl-8uxGZYjI</string>
	<key>GCM_SENDER_ID</key>
	<string>858333114993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.umd.cmsc436.SemesterProject9.SemsterProject9</string>
	<key>PROJECT_ID</key>
	<string>semesterprojectgroup09</string>
	<key>STORAGE_BUCKET</key>
	<string>semesterprojectgroup09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858333114993:ios:8ff67ee48ef370fd</string>
	<key>DATABASE_URL</key>
	<string>https://semesterprojectgroup09.firebaseio.com</string>
</dict>
</plist>